In [ ]:
URK21CS1004                                                          19/07/2023

In [ ]:
AIM: To execute the programs in Python using Pandas.

In [ ]:
DESCRIPTION:
    Pandas is an open-source library that is built on top of NumPy library. It is a Python package that offers various data structures and operations f manipulating numerical data and time series. It is mainly popular for importing and analyzing data much easier. Pandas is fast and it has high-performance & productivity for users.

    DataFrame: 
        min():
            The min() method returns the smallest value(s) from a DataFrame/Series. The following methods can accomplish this task: The DataFrame.min() method.

        max():
            The max() method returns the largest value(s) from a DataFrame/Series. The following methods can accomplish this task: The DataFrame.max() method.

        mean():
            The mean() method returns the average of the DataFrame/Series across a requested axis. If a DataFrame is used, the results will return a Series. If a Series is used, the result will return a single number (float). The following methods can accomplish this task: The DataFrame.mean() method.

        median():
            The median() method calculates and returns the median of DataFrame/Series elements across a requested axis.

    Pandas :
        sort_values():
            This function sorts a data frame in Ascending or Descending order of passed Column.

        groupby():
            This is used for grouping the data according to the categories and applying a function to the categories. It also helps to aggregate data efficiently. The Pandas groupby() is a very powerful function with a lot of variations.

In [ ]:
PROGRAM:

In [1]:
import pandas as pd
df = pd.read_csv("Toyota.csv")
df.head(2)

   Price  Age     KM FuelType  HP  MetColor  Automatic    CC  Doors  Weight
0  13500   23  46986   Diesel  90         1          0  2000      3    1165
1  13750   23  72937   Diesel  90         1          0  2000      3    1165

In [ ]:
1. Find maximum value in a KM column and the minimum value in weight column

In [2]:
print("BISWAYAN MEHRA \nURK21CS1004")
print("Maximum KM:", df['KM'].max())
print("Minimum Weight:", df['Weight'].min())

BISWAYAN MEHRA
URK21CS1004
Maximum KM: 243000
Minimum Weight: 1015

In [ ]:
2. Find the mean and median of CC column

In [3]:
print("BISWAYAN MEHRA \nURK21CS1004")
print("Mean CC:", df['CC'].mean())
print("Median CC:", df['CC'].median())

BISWAYAN MEHRA
URK21CS1004
Mean CC: 1610.3587174348697
Median CC: 1600.0

In [ ]:
3. Create the new column ‘Current Price ‘with value Current Price = (Price*2) +100

In [4]:
print("BISWAYAN MEHRA \nURK21CS1004")
df['Current Price'] = (df['Price'] * 2) + 100
df.head(1)

BISWAYAN MEHRA
URK21CS1004

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight,Current Price
0,13500,23,46986,Diesel,90,1,0,2000,3,1165,27100

In [ ]:
4. Display the first 50 Price, Age and CC such that age in ascending order

In [5]:
print("BISWAYAN MEHRA \nURK21CS1004")
print("\nDisplaying first 50 Price, Age, and CC in ascending order of Age:\n", df[['Price', 'Age', 'CC']].sort_values(by='Age').head(50))

BISWAYAN MEHRA
URK21CS1004

Displaying first 50 Price, Age, and CC in ascending order of Age:
      Price  Age    CC
185  18245    1  1600
184  17795    1  1400
183  21500    2  1600
182  21125    2  1400
110  31000    4  2000
111  31275    4  2000
109  32500    4  2000
179  22500    6  1600
177  19950    7  1600
114  22950    7  2000
117  17900    7  1600
181  18700    7  1400
180  18500    7  1600
113  24950    8  2000
115  24990    8  2000
116  21950    8  2000
172  19500    8  1400
112  24950    8  2000
173  18950    8  1400
174  21950    8  1600
175  19950    8  1600
176  18950    8  1600
178  21950    8  1600
171  23750    8  1600
162  19600    9  1600
170  18245    9  1600
169  17795    9  1400
152  18450   10  1400
157  18900   11  1600
98   18750   11  1600
138  23000   11  2000
164  17650   11  1400
104  19450   11  1600
103  18500   11  1600
168  20500   12  1600
153  19500   12  1600
142  19950   13  1600
137  16250   13  1600
133  15950   13  1600
129  15850   13  1600
120  18950   13  1600
102  18500   13  1400
147  24500   13  1600
154  21750   13  1600
122  16350   14  1600
106  18800   14  1600
166  19950   14  1600
149  20950   14  1600
165  19950   14  1600
163  19500   14  1600

In [ ]:
5. Group the data frame by Fuel Type and Metal Colour

In [6]:
print("BISWAYAN MEHRA \nURK21CS1004")
grouped_df = df.groupby(['FuelType', 'MetColor'])
print("\nData Frame grouped by Fuel Type and Metal Colour:\n", grouped_df.head(2))

BISWAYAN MEHRA
URK21CS1004

Data Frame grouped by Fuel Type and Metal Colour:
      Price  Age      KM FuelType   HP  MetColor  Automatic    CC  Doors  \
0    13500   23   46986   Diesel   90         1          0  2000      3
1    13750   23   72937   Diesel   90         1          0  2000      3
3    14950   26   48000   Diesel   90         0          0  2000      3
4    13750   30   38500   Diesel   90         0          0  2000      3
8    21500   27   19700   Petrol  192         0          0  1800      3
10   20950   25   31461   Petrol  192         0          0  1800      3
13   21500   31   23000   Petrol  192         1          0  1800      3
14   22500   32   34131   Petrol  192         1          0  1800      3
189   7750   43  178858      CNG  110         0          0  1600      3
199  11950   39   98823      CNG  110         1          0  1600      5
209  11950   37   82743      CNG  110         1          0  1600      5
387   9250   48  142130      CNG  110         0          0  1600      5

     Weight  Current Price
0      1165          27100
1      1165          27600
3      1165          30000
4      1170          27600
8      1185          43100
10     1185          42000
13     1185          43100
14     1185          45100
189    1084          15600
199    1119          24000
209    1121          24000
387    1119          18600

In [ ]:
6. Count the null values in the data frame and fill the null values in CC column by ‘0’

In [7]:
print("BISWAYAN MEHRA \nURK21CS1004")
print("\nNumber of null values:", df.isnull().sum())
df['CC'].fillna(0, inplace=True)
print("\nData Frame after filling null values in CC column with '0':\n", df)

BISWAYAN MEHRA
URK21CS1004

Number of null values: Price            0
Age              0
KM               0
FuelType         0
HP               0
MetColor         0
Automatic        0
CC               0
Doors            0
Weight           0
Current Price    0
dtype: int64

Data Frame after filling null values in CC column with '0':
      Price  Age     KM FuelType   HP  MetColor  Automatic    CC  Doors  \
0    13500   23  46986   Diesel   90         1          0  2000      3
1    13750   23  72937   Diesel   90         1          0  2000      3
2    13950   24  41711   Diesel   90         1          0  2000      3
3    14950   26  48000   Diesel   90         0          0  2000      3
4    13750   30  38500   Diesel   90         0          0  2000      3
..     ...  ...    ...      ...  ...       ...        ...   ...    ...
494  11950   54  58745   Petrol  110         1          0  1600      4
495  11250   52  58596   Petrol  110         1          0  1600      3
496  11750   54  58530   Petrol  110         0          0  1600      5
497  10950   55  58377   Petrol  110         1          0  1600      3
498  11250   56  58142   Petrol  110         1          0  1600      5

     Weight  Current Price
0      1165          27100
1      1165          27600
2      1165          28000
3      1165          30000
4      1170          27600
..      ...            ...
494    1035          24000
495    1045          22600
496    1075          23600
497    1050          22000
498    1080          22600

[499 rows x 11 columns]

In [ ]:
7. Append 3 new rows in the data frame and display it

In [8]:
print("BISWAYAN MEHRA \nURK21CS1004")
new_rows = [
    {'Price': 20000, 'Age': 3, 'CC': 1800, 'KM': 5000, 'Fuel Type': 'Gasoline', 'MetColour': 'Silver', 'weight': 1200, 'HP': 150},
    {'Price': 18000, 'Age': 5, 'CC': 1600, 'KM': 8000, 'Fuel Type': 'Diesel', 'MetColour': 'Black', 'weight': 1300, 'HP': 120},
    {'Price': 22000, 'Age': 2, 'CC': 2000, 'KM': 2000, 'Fuel Type': 'Gasoline', 'MetColour': 'White', 'weight': 1400, 'HP': 180}
]

new_df = pd.DataFrame(new_rows)
df = pd.concat([df, new_df], ignore_index=True)
print("\nData Frame after appending 3 new rows:\n", df.tail(3))

BISWAYAN MEHRA
URK21CS1004

Data Frame after appending 3 new rows:
      Price  Age    KM FuelType   HP  MetColor  Automatic    CC  Doors  Weight  \
499  20000    3  5000      NaN  150       NaN        NaN  1800    NaN     NaN
500  18000    5  8000      NaN  120       NaN        NaN  1600    NaN     NaN
501  22000    2  2000      NaN  180       NaN        NaN  2000    NaN     NaN

     Current Price Fuel Type MetColour  weight
499            NaN  Gasoline    Silver  1200.0
500            NaN    Diesel     Black  1300.0
501            NaN  Gasoline     White  1400.0

In [ ]:
8. Drop the HP column in the data frame and display it

In [11]:
print("BISWAYAN MEHRA \nURK21CS1004")
df.drop('HP', axis=1, inplace=True)
print("\nData Frame after dropping the 'HP' column:\n", df.head(2))

BISWAYAN MEHRA
URK21CS1004

Data Frame after dropping the 'HP' column:
    Price  Age     KM FuelType  MetColor  Automatic    CC  Doors  Weight  \
0  13500   23  46986   Diesel       1.0        0.0  2000    3.0  1165.0
1  13750   23  72937   Diesel       1.0        0.0  2000    3.0  1165.0

   Current Price Fuel Type MetColour  weight
0        27100.0       NaN       NaN     NaN
1        27600.0       NaN       NaN     NaN

In [ ]:
9. Drop the 50th and 100th row in the data frame

In [9]:
print("BISWAYAN MEHRA \nURK21CS1004")
df.drop([49, 99], inplace=True)
print("\nData Frame after dropping the 50th and 100th rows:\n", df.head())

BISWAYAN MEHRA
URK21CS1004

Data Frame after dropping the 50th and 100th rows:
    Price  Age     KM FuelType  HP  MetColor  Automatic    CC  Doors  Weight  \
0  13500   23  46986   Diesel  90       1.0        0.0  2000    3.0  1165.0
1  13750   23  72937   Diesel  90       1.0        0.0  2000    3.0  1165.0
2  13950   24  41711   Diesel  90       1.0        0.0  2000    3.0  1165.0
3  14950   26  48000   Diesel  90       0.0        0.0  2000    3.0  1165.0
4  13750   30  38500   Diesel  90       0.0        0.0  2000    3.0  1170.0

   Current Price Fuel Type MetColour  weight
0        27100.0       NaN       NaN     NaN
1        27600.0       NaN       NaN     NaN
2        28000.0       NaN       NaN     NaN
3        30000.0       NaN       NaN     NaN
4        27600.0       NaN       NaN     NaN

In [ ]:
10.Display the price, KM and HP of first 100 values with 'CC' greater than 1600

In [10]:
print("BISWAYAN MEHRA \nURK21CS1004")
result_df = df[df['CC'] > 1600].head(100)[['Price', 'KM', 'HP']]
print("\nPrice, KM, and HP of first 100 values with 'CC' greater than 1600:\n", result_df)

BISWAYAN MEHRA
URK21CS1004

Price, KM, and HP of first 100 values with 'CC' greater than 1600:
      Price     KM   HP
0    13500  46986   90
1    13750  72937   90
2    13950  41711   90
3    14950  48000   90
4    13750  38500   90
..     ...    ...  ...
465  11450  68520   72
480  11500  63000   69
487   8950  61000   69
499  20000   5000  150
501  22000   2000  180

[93 rows x 3 columns]

In [ ]:
RESULT: Thus, the Python programs using Pandas were executed and verfied successfully.