In [48]:
import pandas as pd
data = pd.read_csv("Iris_Dataset.csv")
data.head()

,Id,Location,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,Torgersen,5.1,3.5,1.4,0.2,Iris-setosa
1,2,Torgersen,4.9,3.0,1.4,0.2,Iris-setosa
2,3,Torgersen,4.7,3.2,1.3,0.2,Iris-setosa
3,4,Torgersen,4.6,3.1,1.5,0.2,Iris-setosa
4,5,Torgersen,5.0,3.6,1.4,0.2,Iris-setosa

In [49]:
percent_missing_cols = data.isnull().sum()/len(data)*100
percent_missing_cols

Id               0.0
Location         0.0
SepalLengthCm    2.0
SepalWidthCm     3.0
PetalLengthCm    1.0
PetalWidthCm     1.0
Species          0.0
dtype: float64

In [50]:
missing_cols = percent_missing_cols[percent_missing_cols>0].index
missing_cols

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm'], dtype='object')

In [59]:
data[data.isnull().any(axis=1)]

,Id,Location,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
19,20,Torgersen,5.1,NaN,1.5,0.3,Iris-setosa
27,28,Torgersen,5.2,NaN,1.5,0.2,Iris-setosa
41,42,Torgersen,4.5,NaN,1.3,0.3,Iris-setosa
45,46,Torgersen,4.8,3.0,1.4,NaN,Iris-setosa
49,50,Torgersen,NaN,3.3,1.4,0.2,Iris-setosa
51,52,Biscoe,6.4,3.2,NaN,1.5,Iris-versicolor
90,91,Biscoe,NaN,2.6,4.4,1.2,Iris-versicolor

In [ ]:
data[missing_cols] = data[missing_cols].fillna(value=data[missing_cols].mean())

In [ ]:
percent_missing_cols = data.isnull().sum()/len(data)*100
percent_missing_cols